<h1>Welcome <%= current_user.username %>!</h1>

<b>Your Feed!</b>
<ul class="tweets">

</ul>
<a class="more-tweets" href="#">More Tweets</a>

<%= render "tweets/form" %>



<script>
$.InfiniteTweets = function (el) {
  this.$el = $(el);
  this.fetchTweets();
  this.LastTweetTime = null;
};

$.InfiniteTweets.prototype.fetchTweets = function () {
  this.$el.on("click", function(event) {
    // var ul =
    // var lastTweetTime = $("ul.tweets > li:last-child");

    event.preventDefault();
    console.log(  this.LastTweetTime);

    $.ajax({
      type: "get",
      url: "../feed",
      dataType: "json",
      data: { max_created_at: this.LastTweetTime },
      success: function(data) {
        this.fillTweets(data)
      }.bind(this)
    })

  }.bind(this))
};

$.InfiniteTweets.prototype.fillTweets = function (data) {
  console.log(  this.LastTweetTime);
  for (var i = 0; i<data.length; i++ ) {
    var tweet = data[i];
    for (var j = 0; j < tweet.mentions.length; j++) {
      var mentionedUsers = "";
      mentionedUsers += "<li><a href='../users/" +
        tweet.mentions[j].user.id +
        "'>" + tweet.mentions[j].user.username +
        "</a></li>";
    }
    $('ul.tweets').append("<li>"+ data[i].content +
" -- <a href='<%= user_url(current_user) %>'><%= current_user.username %></a> -- "+
data[i].created_at +
"<ul>" + mentionedUsers + "</ul></li>")
  this.LastTweetTime = data[i].id;
  }
}

$.fn.infiniteTweets = function () {
  return this.each(function () {
    new $.InfiniteTweets(this);
  });
};

$(function () {
  $("a.more-tweets").infiniteTweets();
});

</script>
