<h1>Search!</h1>

<!-- <form action="/users/search" method="GET">
  <input
    type="text"
    name="query"
    value="<%= @query %>">

  <input type="submit" value="Search Users!">
</form>

<ul>
  <% @users.each do |user| %>
    <li>
      <%= link_to user.username, user_url(user) %>
      <%= render "follows/form", user: user %>
    </li>
  <% end %>
</ul> -->

<form class="users-search">
  <label>Search!
    <input class="search-query" type="text" name="query" value="">
  </label>

  <ul class="users">

  </ul>
</form>


<script>

$.UsersSearch = function (el) {
  this.$el = $(el);
  this.$input = $(this.$el.find("input"));
  this.$users = $(this.$el.find(".users"));
  this.handleInput();
};

$.UsersSearch.prototype.handleInput = function () {
  this.$input.on("keydown", function(event) {
    var $input = $(event.currentTarget);
    var searchValue = $input.val();
    $.ajax({
      type: "get",
      url: "<%= search_users_url %>",
      dataType : "json",
      data: {query: searchValue},
      success: function (data) {
        this.renderResults(data);
      }.bind(this)
    })
  }.bind(this))
};

$.UsersSearch.prototype.renderResults = function(data) {
  this.$users.children().remove();
  for (var i = 0; i < data.length; i++) {
    var options = {};
    options.userId = data[i].id;
    options.followState = data[i].followed;
    this.$users.append("<li><a href='./"+data[i].id + "'>" + data[i].username + "</a></li>");
    this.$users.append("<button class='follow-toggle' id=" + data[i].id + "></button>");
    $("#" + data[i].id).followToggle(options);
  }
}

$.fn.UsersSearch = function () {
  return this.each(function () {
    new $.UsersSearch(this);
  });
};

$(function () {
  $("form.users-search").UsersSearch();
});


</script>
